:root {
  --bgLeft: 0px;
}

* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  color: #333;
  scroll-behavior: smooth;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

span {
  display: inline-block;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #333;
}

section {
  padding: 7.5rem 0;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mask--gradient-down {
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, black), color-stop(20%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 15%, rgba(0, 0, 0, 0) 20%);
}

.mask--portrait-anime {
  background-color: #ffbf00;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #333;
  width: 100%;
  padding: 0 3.75rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header > .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .nav-list > .nav {
  color: #efefef;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

header > .nav-list > .nav:hover {
  color: #ffbf00;
}

header > .nav-list > .nav.stay-in {
  border-bottom: 0.25rem solid #ffbf00;
}

header > .nav-list > .nav:not(:last-child) {
  margin-right: 2.5rem;
}

header.color-change {
  background-color: #efefef;
}

header.color-change > .nav-list > .nav {
  color: #333;
}

header.color-change > .nav-list > .nav:hover {
  color: #ffbf00;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main > .portrait {
  position: fixed;
  left: 0;
  top: 3.5rem;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 70% 0;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-filter 0.3s;
  transition: opacity 0.3s, -webkit-filter 0.3s;
  transition: filter 0.3s, opacity 0.3s;
  transition: filter 0.3s, opacity 0.3s, -webkit-filter 0.3s;
}

.main > .portrait > .mask {
  opacity: 0.5;
}

.main > .portrait.darken > .mask {
  opacity: 1;
}

.main > .intro {
  width: 100%;
  opacity: 0;
}

.main > .intro > h1 {
  text-align: center;
  font-size: 7rem;
  color: #efefef;
  font-weight: 600;
}

.main > .intro > h2 {
  font-size: 2rem;
  color: #888;
}

.main.active > .portrait {
  opacity: 1;
}

.main.active > .intro {
  -webkit-animation: intro-fadein 0.4s ease-out 0.5s 1 forwards;
          animation: intro-fadein 0.4s ease-out 0.5s 1 forwards;
}

@-webkit-keyframes portrait-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes portrait-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes intro-fadein {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes intro-fadein {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes intro-fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.about-me {
  padding: 7.5rem 20%;
}

.about-me > h1 {
  text-align: center;
  color: #efefef;
  margin-bottom: 3.75rem;
}

.about-me > .profile {
  margin-bottom: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me > .profile > .portrait__sm {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 40%;
  margin-right: 2.5rem;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0.5rem 0.5rem 0px #ffbf00;
          box-shadow: 0.5rem 0.5rem 0px #ffbf00;
}

.about-me > .profile > p {
  font-size: 1.4rem;
  color: #efefef;
  text-align: justify;
  line-height: 2.5rem;
}

.about-me > .profile > p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.about-me > .profile > p > .mark {
  font-size: 3rem;
  color: #ffbf00;
  margin-right: 0.25rem;
}

.about-me > .experiences-skills {
  padding: 2rem 3.75rem 3.75rem 3.75rem;
  border-radius: 1.25rem;
  background: black;
  background-color: rgba(85, 85, 85, 0.8);
}

.about-me > .experiences-skills > .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.about-me > .experiences-skills > .selector > .selector__item {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ccc;
  padding: 0 1rem;
  cursor: pointer;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.about-me > .experiences-skills > .selector > .selector__item.selected {
  color: #ffbf00;
}

.about-me > .experiences-skills > .selector > .selector__item:first-child {
  border-right: 2px solid #ccc;
}

.about-me > .experiences-skills > .content {
  height: 28rem;
}

.about-me > .experiences-skills > .content > .content__item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.about-me > .experiences-skills > .content > .content__item.selected {
  opacity: 1;
  visibility: visible;
}

.about-me > .experiences-skills > .content > .content__item > h2 {
  color: #efefef;
  margin-bottom: 2.25rem;
}

.about-me > .experiences-skills > .content > .content__item .list__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #efefef;
}

.about-me > .experiences-skills > .content > .content__item .list__square {
  padding: 0.5rem 0.5rem;
}

.about-me > .experiences-skills > .content > .content__item .list__square > span {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #ffbf00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about-me > .experiences-skills > .content > .content__item ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 0.5rem;
}

.about-me > .experiences-skills > .content > .content__item ul > li:not(:last-child) {
  margin-bottom: 0.4rem;
}

.about-me > .experiences-skills > .content > .content__item.content__experiences > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 0.5rem;
  line-height: 1.1;
}

.about-me > .experiences-skills > .content > .content__item.content__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me > .experiences-skills > .content > .content__item.content__skills > .categary {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.about-me > .experiences-skills > .content > .content__item.content__skills > .categary > h3 {
  font-size: 2rem;
  color: #ccc;
  margin-bottom: 1.75rem;
}

.about-me > .experiences-skills > .content > .content__item.content__skills > .categary > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .about-me {
    padding: 7.5rem 10%;
  }
  .about-me > .profile > p {
    line-height: 3rem;
    margin-top: -0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 7.5rem 5%;
  }
  .about-me > .profile {
    width: 90%;
  }
  .about-me > .profile > p {
    text-align: center;
  }
  .about-me > .profile > .portrait__sm {
    display: none;
  }
  .about-me > .experiences-skills {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .about-me > .experiences-skills > .content > .content__item.content__skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me > .experiences-skills > .content > .content__item.content__skills > .categary {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .about-me > .experiences-skills > .content > .content__item.content__skills > .categary > h3 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .about-me > .experiences-skills > .content > .content__item.content__skills > .categary > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-me > .experiences-skills > .content > .content__item.content__skills > .categary > ul > li:not(:last-child) {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header > .nav-list {
    display: none;
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
}

.works > h1 {
  margin-bottom: 3.75rem;
}

.work {
  aspect-ratio: 1/1;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 0px #ffbf00;
          box-shadow: 0px 0px 0px #ffbf00;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work > .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

.work > .title {
  color: #efefef;
  font-weight: 600;
  opacity: 0;
  margin-bottom: 1rem;
  -webkit-transition: inherit;
  transition: inherit;
}

.work > .tool-group {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

.work > .tool-group > .tool {
  font-size: 1rem;
  color: #ffbf00;
  line-height: 1.5rem;
  border-radius: 0.8125rem;
  border: 0.125rem solid #ffbf00;
  padding: 0 0.5rem;
  margin: 0.125rem;
}

.work:hover > .mask,
.work:hover > h3,
.work:hover > .tool-group {
  opacity: 1;
}

.works-container {
  width: 80%;
  max-width: 704px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -16px 0;
}

.works-container > .work {
  margin: 16px;
}

.works-container > .work:hover {
  -webkit-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
  -webkit-box-shadow: 8px 8px 0px #ffbf00;
          box-shadow: 8px 8px 0px #ffbf00;
}

.carousel {
  width: 80%;
}

.carousel .carousel__btn {
  cursor: pointer;
  background-color: #ffbf00;
  color: #efefef;
  font-size: 1.5rem;
}

.carousel .carousel__btn > i {
  pointer-events: none;
}

.carousel > .carousel__dots > .dot {
  background-color: #888;
}

.carousel > .carousel__dots > .dot.active {
  background-color: #ffbf00;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
}

.contact > .border--top {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-top: 2px solid #ccc;
}

.contact > h1 {
  margin-bottom: 3.75rem;
}

.contact > .information {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact > .information > div {
  font-size: 2rem;
  padding-left: 3rem;
}

.contact > .information > div > i {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #333;
}

.contact > .information > div > span {
  -webkit-box-shadow: inset 0 -0.4rem 0 #ccc;
          box-shadow: inset 0 -0.4rem 0 #ccc;
}

.contact > .information > div:not(:last-child) {
  margin-bottom: 1.75rem;
}

.contact > .icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact > .icon-group > .icon {
  text-align: center;
  font-size: 2.5rem;
}

.contact > .icon-group > .icon:not(:last-child) {
  margin-right: 2rem;
}

.contact > .icon-group > .icon:hover {
  color: #ffbf00;
}

.wrapper {
  width: 100%;
  background-color: #000;
  background-size: cover;
  background-position: center 0;
  overflow: hidden;
}

footer {
  padding: 2rem 0;
  color: #efefef;
  font-size: 1.25rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */