$white: #efefef;
$gray: #ccc;
$darkgray: #aaa;
$lightblack: #888;
$black: #333;
$main: #ffbf00;

$padding-md: 7.5rem;
$padding-sm: 60px;

$breakpoint--lg: 1024px;
$breakpoint--md: 768px;
$breakpoint--sm: 480px;

:root {
    --bgLeft: 0px;
}

* {
    position: relative;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    color: $black;
    scroll-behavior: smooth;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1;
    font-weight: 500;
}
h1 {
    font-size: 4rem;
    letter-spacing: 0.4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
    line-height: 1.5;
}

span {
    display: inline-block;
    line-height: 1;
}

a {
    text-decoration: none;
    color: $black;
}

section {
    padding: 7.5rem 0;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
.mask--gradient-down {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 20%);
}

.mask--portrait-anime {
    background-color: $main;
}

header {
    display: flex;
    justify-content: center;
    transition: background-color 0.3s;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.1);
    background-color: $black;
    width: 100%;
    padding: 0 3.75rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    & > .nav-list {
        display: flex;

        & > .nav {
            color: $white;
            font-size: 1.25rem;
            letter-spacing: 0.2rem;
            cursor: pointer;
            height: 3.5rem;

            display: flex;
            align-items: center;

            border-top: 0.25rem solid transparent;
            border-bottom: 0.25rem solid transparent;

            transition: border-bottom 0.3s;

            &:hover {
                color: $main;
            }
            &.stay-in {
                border-bottom: 0.25rem solid $main;
            }
            &:not(:last-child) {
                margin-right: 2.5rem;
            }
        }
    }

    &.color-change {
        background-color: $white;

        & > .nav-list > .nav {
            color: $black;
            &:hover {
                color: $main;
            }
        }
    }
}

.main {
    // height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .portrait {
        position: fixed;
        left: 0;
        top: 3.5rem;

        width: 100vw;
        height: 100vh;
        // aspect-ratio: 16/9;
        background-size: cover;
        background-position: 70% 0;
        background-repeat: no-repeat;

        opacity: 0;
        transition: filter 0.3s, opacity 0.3s;

        & > .mask {
            opacity: 0.5;
        }

        &.darken > .mask {
            opacity: 1;
        }
    }

    & > .intro {
        width: 100%;
        opacity: 0;

        & > h1 {
            text-align: center;
            font-size: 7rem;
            color: $white;
            font-weight: 600;
        }
        & > h2 {
            font-size: 2rem;
            color: #888;
        }
    }
    &.active {
        & > .portrait {
            opacity: 1;
        }
        & > .intro {
            animation: intro-fadein 0.4s ease-out 0.5s 1 forwards;
        }
    }
}

@keyframes portrait-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes intro-fadein {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

@keyframes intro-fadein {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-me {
    padding: 7.5rem 20%;

    & > h1 {
        text-align: center;
        color: $white;
        margin-bottom: 3.75rem;
    }

    & > .profile {
        margin-bottom: 7.5rem;
        display: flex;
        align-items: center;

        & > .portrait__sm {
            flex: 1 0 auto;
            width: 40%;
            margin-right: 2.5rem;
            aspect-ratio: 1/1;
            background-size: cover;
            background-repeat: no-repeat;

            box-shadow: 0.5rem 0.5rem 0px $main;
        }

        & > p {
            // float: left;
            font-size: 1.4rem;
            color: $white;
            text-align: justify;
            line-height: 2.5rem;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
            & > .mark {
                font-size: 3rem;
                color: $main;
                margin-right: 0.25rem;
            }
        }
    }

    @mixin ExperiencesSkillsListItemStyle {
        display: flex;
        align-content: flex-start;
        gap: 0.5rem;
    }

    & > .experiences-skills {
        padding: 2rem 3.75rem 3.75rem 3.75rem;
        border-radius: 1.25rem;
        background: rgb(0, 0, 0);
        // background: linear-gradient(
        //     0deg,
        //     rgba(0, 0, 0, 1) 0%,
        //     rgba(14, 14, 14, 1) 8%,
        //     rgba(58, 58, 58, 1) 48%,
        //     rgba(85, 85, 85, 1) 100%
        // );

        background-color: rgba(#555, 0.8);

        & > .selector {
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
            & > .selector__item {
                font-size: 1.5rem;
                font-weight: 600;
                color: $gray;
                padding: 0 1rem;
                cursor: pointer;
                transition: color 0.3s, box-shadow 0.3s;
                &.selected {
                    color: $main;
                }
                &:first-child {
                    border-right: 2px solid $gray;
                }
            }
        }
        & > .content {
            height: 28rem;
            & > .content__item {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;

                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s, visibility 0.3s;

                &.selected {
                    opacity: 1;
                    visibility: visible;
                }
                & > h2 {
                    color: $white;
                    margin-bottom: 2.25rem;
                }

                & .list__text {
                    flex: 1;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    color: $white;
                }
                & .list__square {
                    padding: 0.5rem 0.5rem;
                    & > span {
                        display: block;
                        width: 0.6rem;
                        height: 0.6rem;
                        background-color: $main;
                        transform: rotate(45deg);
                    }
                }
                & ul > li {
                    display: flex;
                    align-content: flex-start;
                    gap: 0.5rem;
                    &:not(:last-child) {
                        margin-bottom: 0.4rem;
                    }
                }

                &.content__experiences {
                    & > ul > li {
                        display: flex;
                        align-content: flex-start;
                        gap: 0.5rem;
                        line-height: 1.1;
                    }
                }
                &.content__skills {
                    display: flex;
                    & > .categary {
                        flex: 1 0 auto;
                        & > h3 {
                            font-size: 2rem;
                            color: $gray;
                            margin-bottom: 1.75rem;
                        }
                        & > ul > li {
                            @include ExperiencesSkillsListItemStyle;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint--lg) {
    html {
        font-size: 14px;
    }
    .main > .intro {
    }
    // .about-me>.profile{
    //     width: 80%;
    // }
    .about-me {
        padding: 7.5rem 10%;
        & > .profile > p {
            line-height: 3rem;
            margin-top: -0.75rem;
        }
    }
}
@media screen and (max-width: $breakpoint--md) {
    .about-me {
        padding: 7.5rem 5%;
        & > .profile {
            width: 90%;

            & > p {
                text-align: center;
            }
            & > .portrait__sm {
                display: none;
            }
        }
        & > .experiences-skills {
            padding-left: 2rem;
            padding-right: 2rem;

            & > .content > .content__item.content__skills {
                flex-direction: column;
                align-items: center;

                & > .categary {
                    flex: 0 0 auto;
                    & > h3 {
                        text-align: center;
                        margin-bottom: 1.5rem;
                    }
                    & > ul {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        & > li {
                            &:not(:last-child) {
                                margin-right: 1rem;
                            }
                            & > .dash {
                                // display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $breakpoint--sm) {
    html {
        font-size: 12px;
    }
    header {
        justify-content: center;
        & > .nav-list {
            display: none;
        }
    }
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $white;

    & > h1 {
        margin-bottom: 3.75rem;
    }
}

.work {
    // width: 320px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 0px rgba($color: $main, $alpha: 1);
    transition: transform 0.3s, opacity 0.3s;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(1px);
        opacity: 0;

        transition: inherit;
    }
    & > .title {
        color: $white;
        font-weight: 600;
        opacity: 0;
        margin-bottom: 1rem;

        transition: inherit;
    }
    & > .tool-group {
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        opacity: 0;
        transition: inherit;

        & > .tool {
            font-size: 1rem;
            color: $main;
            line-height: 1.5rem;
            border-radius: 0.8125rem;
            border: 0.125rem solid $main;
            padding: 0 0.5rem;
            margin: 0.125rem;
        }
    }
    &:hover {
        & > .mask,
        & > h3,
        & > .tool-group {
            opacity: 1;
        }
    }
}

.works-container {
    width: 80%;
    max-width: 704px;
    display: flex;
    flex-wrap: wrap;
    margin: -16px 0;

    & > .work {
        margin: 16px;
        &:hover {
            transform: translate(-4px, -4px);
            box-shadow: 8px 8px 0px rgba($color: $main, $alpha: 1);
        }
    }
}

.carousel {
    width: 80%;

    & .carousel__btn {
        cursor: pointer;
        background-color: $main;
        color: $white;
        font-size: 1.5rem;
        & > i {
            pointer-events: none;
        }
    }

    & > .carousel__dots {
        & > .dot {
            background-color: $lightblack;
            &.active {
                background-color: $main;
            }
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $white;

    & > .border--top {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        border-top: 2px solid $gray;
    }
    & > h1 {
        margin-bottom: 3.75rem;
    }
    & > .information {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > div {
            font-size: 2rem;
            padding-left: 3rem;
            & > i {
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translate(-50%, -50%);
                color: $black;
            }
            & > span {
                box-shadow: inset 0 -0.4rem 0 $gray;
            }
            &:not(:last-child) {
                margin-bottom: 1.75rem;
            }
        }
    }
    & > .icon-group {
        display: flex;
        & > .icon {
            text-align: center;
            font-size: 2.5rem;
            &:not(:last-child) {
                margin-right: 2rem;
            }
            &:hover {
                color: $main;
            }
        }
    }
}

.wrapper {
    width: 100%;
    background-color: #000;
    background-size: cover;
    background-position: center 0;
    overflow: hidden;
}

footer {
    padding: 2rem 0;

    color: $white;
    font-size: 1.25rem;
    text-align: center;
}
